<a href="https://colab.research.google.com/github/Orlando2899/Pemograman-Dasar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# deklarasi variabel list
numbers = [23,43,15,34]
#cara mengakses elemen dalam variabel list
numbers[0]  # 23
numbers[1]  # 43
numbers[2]  # 15
numbers[3]  # 34
# cara mengubah nilai elemen dalam variabel list
numbers[2]  # 51
numbers[2]  = 51

print (numbers) #lakukan untuk setiap indexnya dan lihat hasilnya

[23, 43, 51, 34]

In [ ]:
# deklarasi variabel list numbers
numbers = [1,2,3]

# menambahkan elemen di indeks ke-4
numbers.insert(4,5)   #[1,2,3,4,5]

# mengubah elemen di indeks ke-4
numbers[3] = 4   #[1,2,3,4]

# menghapus elemen di indeks ke-2
numbers.pop(2)   #[1,2,4]

#print lalu lihat hasilnya

3

In [ ]:
# deklarasi variabel list numbers
numbers = [1,2,3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # (1,2,3,5)

# mengubah elemen di indeks ke-4

numbers[3] = 4 # [1,2,3,4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1,2,4]

# print setiap hasil perubahan dan amati hasilnya

3

In [1]:
# deklarasi variabel list
mylist = [1,"Rumah", 4.5, True, ["kamar mandi", "kamar tidur"]]

# cara mengakses elemen dalam variabel list
mylist[0]  # 1
mylist[1]  # "Rumah"
mylist[3]  # True
mylist[4]  #["kamar mandi", "kamar tidur"]

# cara mengakses elemen dalam sublist
mylist [4][0] # "kamar mandi"
mylist [4][1] # "kamar tidur"

#lakukan print lalu amati hasilnya

'kamar tidur'

In [ ]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]
print(x[0:5:2])
print(x[1:])
print(x[:3])

"""
output:
['laptop', 'mouse', 'keyboard']
['monitor, 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

"""

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

"\noutput:\n['laptop', 'mouse', 'keyboard']\n['monitor, 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']\n['laptop', 'monitor', 'mouse']\n\n"

In [2]:
x = (1, "polibatam", 1+3j)
print(type(x))

"""
output:
<class, 'tuple'>
"""

<class 'tuple'>

"\noutput:\n<class, 'tuple'>\n"

In [ ]:
x = (5, 'progarm', 1+3j)
print(x[1])
print(x[0:3])

"""
output:
program
(5, 'program', (1+3j))
"""

progarm
(5, 'progarm', (1+3j))

"\noutput:\nprogram\n(5, 'program', (1+3j))\n"

In [1]:
x = (5, 'program', 1+3j)
x[1] = 'Polibatam'


"""
Output:
'tuple' object does not support item assignment
"""

[5, 'Polibatam', (1+3j)]

"\nOutput:\n'tuple' object does not support item assignment\n"

In [10]:
# deklarasi variabel tuple
number = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
number[0]  # 23
number[1]  # 43
number[2]  # 15
#lakukan print lalu amati hasilnya

15

In [12]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)  # {1, 2, 3, 4}

# operasi irisan
a.intersection(b)  #{2, 3}

# operasi perbedaan
a.symmetric_difference(b)  # {1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [4]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False}

print(type(x))

"""
Output:
<class 'dict'>
"""

<class 'dict'>

"\nOutput:\n<class 'dict'>\n"

In [3]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False}

print(x[0])

"""
Output:
keyError: 0
"""

In [10]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False}

print(x ['name'])

"""
Output:
Perseus Evans
"""

Perseus Evans

'\nOutput:\nPerseus Evans\n'

In [12]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False}
del x['isMarried']

print(x)

"""
Output:
{ 'name': 'Perseus Evans', 'age': 20}
"""

{'name': 'Perseus Evans', 'age': 20}

"\nOutput:\n{ 'name': 'Perseus Evans', 'age': 20}\n"

In [14]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False}
x ['name'] = "Exvan"

print(x)

"""
Output:
{ 'name': 'Exvan', 'age': 20, 'isMarried': False}
"""

{'name': 'Exvan', 'age': 20, 'isMarried': False}

"\nOutput:\n{ 'name': 'Exvan', 'age': 20, 'isMarried': False}\n"

In [16]:
# deklarasi variabel dictionary
propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel dictionary
print(propertyDetail["numFloors"])     # 1
print(propertyDetail["propertyType"])  # Rumah
print(propertyDetail["hasTerrace"])    # True
print(propertyDetail["hasGarage"])   # False # Corrected typo "hasGararage" to "hasGarage"

# cara mengubah nilai elemen dalam variabel dictionary
propertyDetail["hasTerrace"] = False

print(propertyDetail["hasTerrace"])  # False

#print("propertyDetail"["propertyType"]) # Commented out as it was causing a TypeError

#lakukan print lalu amati hasilnya

1
Rumah
True
False
False